<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='<%=description%>'>
    <% if (path !== "e404") { %>
    <link rel="canonical" href="https://blinkies.cafe/<%=path%>">
    <%}%>
    <% if (path === "feed" || path === "wall") {%>
    <meta name="robots" content="noindex">
    <%}%>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <meta name="theme-color" content="#4e3075">

    <link rel="stylesheet" type="text/css" href="<%= typeof stylesheet === 'undefined' ? '/styles.css' : stylesheet%>">
    <script src='/utils.js'></script>
</head>
<body>
    <a href="#main" class="sr-only skip-link">Skip to content!</a>
    <% if (typeof noHeader === 'undefined') {%>
    <header id='banner' class='content'>
        blinkies.cafe
    </header>
    <nav id='navbar' class='content'>
        <a href='/' <%=path == '' ? 'aria-current=page' : ''%>>generator</a> |
        <a href='/blog' <%=path == 'blog' ? 'aria-current=page' : ''%>>blog</a> |
        <a href="/archive" <%=path == 'archive' ? 'aria-current=page' : ''%>>archive</a>
        <br>
    </nav>
    <hr>
    <%}%>
    <main id="main">