<!DOCTYPE html>
<html lang="en">
<head>
  <title>blinkies maker | archive</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='blinkies archive - retro blinkie gifs and links to sources. notes on blinkie design and history.'>
  <link rel="canonical" href="https://blinkies.cafe/archive">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div id='banner' class='content'>
blinkies.cafe
</div>
<div id='navbar' class='content'>
        <a href='/'>gallery</a> | archive<br>
</div><hr>
<div class='content'><h1>blinkies archive</h1>
</div>
<div id='sourceList' class='archiveContent'>

welcome to the blinkies archive.

blinkies.cafe offers two types of blinkies:<br>
&nbsp;- <b>original</b>, drawn by blinkies.cafe.<br>
&nbsp;- <b>archived</b>, from elsewhere on the web.<br>
<br>

when we add a blinkie from the web, we archive a copy, then create a template version without text. these template versions are used by the <a href='/'>blinkies maker</a>.<br><br>

the archived copies live here, with links to their sources and generator pages. all blinkies not on this page are original.<br><br>

<div class='tableWrapper'>
<table id='blinkieTable'>
    <tr>
        <!--extra spaces after blinkie col head for alignment-->
        <th>original&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;source</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;generator</th>
    </tr>
    <tr>
        <td>--------</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;-------</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;---------</td>
    </tr>
    <%for (const [key, value] of Object.entries(sourceList)) {
            %><tr>
                <td><img src="/b/display/archive/<%=key%>.gif" alt="<%=value.name%> blinkie" class="blinkie"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="<%=value.sourceURL%>" target="_blank" rel="noopener"><%-value.sourceName%></a></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="<%-'https://blinkies.cafe/pour?s=' + key.toString()%>"><%-value.name%></a></td>
            %></tr><%
        }
    %>
</table>
</div>
</div>
<div class='archiveContent'>
in most cases it is difficult or impossible to track down the original creator of a blinkie. this is partly because blinkies have been widely shared &#x26; copied without attribution for two decades and counting. most original creators' websites have been offline for years.<br><br>
<b><i>however --</i></b> if you see a blinkie that you drew, oh wow i love your work and i'd love to chat about it!! please say hi: amy (at) amyfare (dot) ca
</div>
<div id='fontList' class='archiveContent'>
<b>font sources<br>
============</b><br>
blinkie text can use a few different types of lettering:<br>
&nbsp;- hand-drawn<br>
&nbsp;- truetype font<br>
&nbsp;- bitmap font<br><br>

hand-drawn lettering is of course out of the question for a blinkie generator. truetype fonts are common and diverse, but tend to look worse than bitmap fonts at such low pixel counts.<br><br>

blinkies.cafe only uses bitmap fonts. sincere thanks to the creators for making this possible!<br><br>

<div class='tableWrapper'>
<table id='fontTable'>
    <tr>
        <th>font</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;creator</th>
    </tr>
    <tr>
        <td>----</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;-------</td>
    </tr>
    <%for (const [key, value] of Object.entries(fontList)) {%>
        <tr>
            <td><%-value.name%></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="<%=value.sourceURL%>" target="_blank" rel="noopener"><%=value.sourceName%></a></td>
        </tr>
    <%}%>
</table>
</div>
</div>
<div class='archiveContent'>
<b>cool links<br>
===========</b><br>
        <b><i><a href='https://gifcities.org/' target='_blank' rel="noopener">GifCities</a></i></b>, Internet Archive. GeoCities Animated GIF Search Engine.<br>
        <b><i><a href='http://contemporary-home-computing.org/vernacular-web-2/' target='_blank' rel="noopener">Vernacular Web 2</a></i></b>, Olia Lialina. Article on the design of early 2000s websites.<br>
        <b><i><a href='http://textfiles.com/' target='_blank' rel='noopener'>textfiles.com</a></i></b>, Jason Scott. Text file archive.
</div>
<div id='footer' class='content'>
    (c) blinkies.cafe.<br>original blinkies CC0.<br>by amy fare &#60;3
</div>
</body>
</html>
