<!DOCTYPE html>
<html lang="en">
<head>
  <title>blinkie maker | archive</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='blinkies archive - retro blinkie gifs and links to sources. notes on blinkie design and history.'>
  <link rel="canonical" href="https://blinkies.cafe/archive">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div id='banner' class='content'>
blinkies.cafe
</div>
<div id='navbar' class='content'>
        <a href='/'>generator</a> | <a href='/blog'>blog</a> | archive<br>
</div><hr>
<div class='content'><h1>blinkies archive</h1>
</div>
<div id='sourceList' class='archiveContent'>

welcome to the blinkies archive.

blinkies.cafe offers two types of blinkies:<br>
&nbsp;- <b>original</b>, drawn by blinkies.cafe.<br>
&nbsp;- <b>archived</b>, from elsewhere on the web.<br>
<br>

when we add a blinkie from the web, we archive a copy, then create a template version without text. these template versions are used by the <a href='/'>blinkie maker</a>.<br><br>

the archived copies live here, with links to their sources and generator pages. <b>all blinkies not on this page are original.</b><br><br>

<div class='tableWrapper'>
<table id='blinkieTable'>
    <tr>
        <!--extra spaces after blinkie col head for alignment-->
        <th>archived&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;source&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;generator</th>
    </tr>
    <tr>
        <td>--------</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;------</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;---------</td>
    </tr>
    <%for (const [key, value] of Object.entries(sourceList)) {
            %><tr class='sourceRow'>
                <td><img class='archiveBlinkie' src="/b/display/archive/<%=key%>.gif" alt="<%=value.name%> blinkie"></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<a class='archiveLink' href="<%=value.sourceURL%>" target="_blank" rel="noopener"><%-value.sourceName%></a></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<a class='archiveGen' href="<%-'/?s=' + key.toString()%>"><%-value.name.replaceAll('<','&lt;')%></a></td>
            %></tr><%
        }
    %>
</table>
<center>
<galleryUI id='pagenav'>
    <action id='prevPage' style='visibility:hidden'>&lt;==</action>
    <actionLabel id='currPage'> 1 </actionLabel>
    <action id='nextPage'>==&gt;</action>
</galleryUI>
</center>
</div>
</div>
<div class='archiveContent'>
in most cases it is difficult or impossible to track down the original creator of a blinkie. this is partly because blinkies have been widely shared &#x26; copied without attribution for two decades and counting. most original creators' websites have been offline for years.<br><br>
<b><i>however --</i></b> if you see a blinkie that you drew, oh wow i love your work and i'd love to chat about it!! please say hi, so i can update the source or remove your blinkie if you prefer. <a href="mailto:hi@blinkies.cafe" target="_blank" rel="noopener">hi@blinkies.cafe</a>
</div>
<div id='fontList' class='archiveContent'>
<b>font sources<br>
============</b><br>
blinkie text can use a few different types of lettering:<br>
&nbsp;- hand-drawn<br>
&nbsp;- truetype font<br>
&nbsp;- bitmap font<br><br>

hand-drawn lettering is of course out of the question for a blinkie generator. truetype fonts are common and diverse, but tend to look worse than bitmap fonts at such low pixel counts.<br><br>

blinkies.cafe prefers bitmap fonts where possible, but falls back to truetype fonts when necessary for expanded character sets. sincere thanks to font creators for making this possible!<br><br>

<div class='tableWrapper'>
<table id='fontTable'>
    <tr>
        <th>font</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;creator</th>
    </tr>
    <tr>
        <td>----</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;-------</td>
    </tr>
    <%for (const [key, value] of Object.entries(fontList)) {%>
        <tr>
            <td><%-value.name%></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="<%=value.sourceURL%>" target="_blank" rel="noopener"><%=value.sourceName%></a></td>
        </tr>
    <%}%>
</table>
</div>
</div>
<div class='archiveContent'>
<b>site assets<br>
   ===========</b><br>
   background: <a href='https://web.archive.org/web/20030428194523/http://hk.geocities.com/heero_green/new_page_15.htm' target='_blank' rel="noopener">希羅之殖民星</a>.<br>
   divider: <a href='https://web.archive.org/web/20091027131211/http://geocities.com/acara789/BobsPoems.html' target='_blank' rel='noopener'>acara789</a>.<br>
</div>
<div class='archiveContent'>
<b>cool links<br>
   ==========</b><br>
        <b><i><a href='https://gifcities.org/'>GifCities</a></i></b>, Internet Archive. GeoCities Animated GIF Search Engine.<br>
        <b><i><a href='http://contemporary-home-computing.org/vernacular-web-2/'>Vernacular Web 2</a></i></b>, Olia Lialina. Article on the design of early 2000s websites.<br>
        <b><i><a href='http://textfiles.com/'>textfiles.com</a></i></b>, Jason Scott. Text file archive.<br>
        <b><i><a href='https://yesterweb.org/'>The Yesterweb</a></i></b>. Old web revival community.<br>
        <b><i><a href='https://links.yesterweb.org/'>Yesterlinks</a></i></b>. User-created directory of cool sites &amp; sitebuilding resources!
</div>
<div class='archiveContent'>
<b>blinkies.cafe history<br>
   =====================</b><br>
blinkies.cafe was started circa November 2021.
<br><br>

the original blinkie generator endpoint is available at <a href='/pour'>blinkies.cafe/pour</a>.
<br><br>

<div class='tableWrapper'>
<table>
    <tr>
        <th>date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        <th>favicon</th>
    </tr>
    <tr>
        <td>----</td>
        <td>-------</td>
    </tr>
    <tr>
        <td>2021-12-15</td>
        <td><img src="/favicon-2021-12-15.png" alt="blinkies.cafe favicon, 2021-12-15"></td>
    </tr>
    <tr>
        <td>2022-02-02</td>
        <td><img src="/favicon-2022-02-02.png" alt="blinkies.cafe favicon, 2022-02-02"></td>
    </tr>
</table>
</div>
</div>
<%- include('components/footer.html') %>
</body>
</html>
<script src='/archive.js' type='module'></script>
