<!DOCTYPE html>
<html lang="en">
<head>
  <title>blinkie maker | generate blinkie gifs with custom text!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content="make your own blinkies! browse blinkie styles and add any text you want. blinkies are tiny gifs; they're great badges for your site, stream, blog, or messages. blinkies were popular decorations in early-2000s Geocities-era personal websites.">
  <link rel="canonical" href="https://blinkies.cafe/">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div id='banner' class='content'>
blinkies.cafe
</div>
<div id='navbar' class='content'>
        generator | <a href='/archive'>archive</a><br>
</div><hr>
<div class='content'>
    <h1>blinkie maker: build a blinkie!</h1>
</div>
<div class='content'>
    <div class='divider'></div>
    <div id='pour' style='position:absolute; visibility:<%if (pourStyle == '') {%>hidden<%} else {%>visible<%}%>'>
        <action id='backToGalleryBtn'>&#60; back to gallery</action><br><br>
        <form id='blinkieForm'>
        text:  &nbsp;<textarea placeholder='your text here!' name='blinkieText' id='blinkieText' rows=1 wrap='off'></textarea>&nbsp;<input type="checkbox" id="toggleSplit" name="toggleSplit"><label for="toggleSplit">split</label>(<div class="tooltip">?
            <span class="tooltiptext">fit more text by splitting into two lines</span>
        </div>)
        <div style='margin-top: 2px'>
            style: <select name="blinkieStyle" id="blinkieStyle" cols=20>
                <%
                if (pourStyle != '') {
                    %><option value="<%=pourStyle%>"><%=styleList[pourStyle].name%></option><%
                }

                for (const [key, value] of Object.entries(styleList)) {
                    if (key != pourStyle) {
                        %><option value="<%=key%>"><%=value.name%></option><%
                    }
                }
                %>
            </select>
        </div>
        <div>scale:
            <select name="blinkieScale" id="blinkieScale">
                <option value=1>1x: small & classic. good in rows & columns. great on desktop.</option>
                <option value=2>2x: good for tumblr i think? still trying to figure that out tbh.</option>
                <option value=4>4x: large & crisp. good for individual blinkies. mobile-friendly.</option>
            </select>
        </div>
        <button type='submit' id='submitbtn'>generate!!</button><br>
        </form><br>
        <img id='freshBlinkie' src='/b/display/<%if (pourStyle == '') {%>0007-chocolate<%} else {%><%=pourStyle%><%}%>.gif' alt='generated blinkie'><br>
        <div id='blinkieLinkHolder' style='font-size:8pt;'><br><br><br><br><br></div>
        share our button?<br><textarea readonly id='badgetxt' wrap='off' class='singleLineText' style='margin-bottom:2px'>&lt;a href='https://blinkies.cafe' target='_blank'&gt;&lt;img src='https://blinkies.cafe/b/display/blinkiesCafe-badge.gif' alt='blinkies.cafe | create blinkies with custom text!'&gt;&lt;/a&gt;</textarea><br>
        <img src='/b/display/blinkiesCafe-badge.gif' alt='blinkies.cafe shareable badge'>
        <br><br><a href='https://www3.cbox.ws/box/?boxid=3515648&boxtag=MLcPYu' target="_blank" rel="noopener">guestbook/chat</a>
    </div>
    <center>
    <div id='gallery' type='text' style='position:relative; z-index:0; visibility:<%if (pourStyle == '') {%><%} else {%>hidden<%}%>'>
        click a blinkie to add custom text!<br><br>
        <galleryUI>
            sort:&nbsp;<action id='sortNew'>new</action> <action id='sortRandom'>random</action> <action id='sortOld'>old</action>
        </galleryUI>
        <center id='tiles'>
            <%
            let i=0;
            for (const [key, value] of Object.entries(stylePage)) {
                %><img id='blinkie<%=i%>' src="/b/display/<%=key%>.gif" alt="<%=value.name%> blinkie" class="blinkie blinkieTile"><%
    	    i++;
            }
            %>
        </center>
        <center>
            <galleryUI id='pagenav'>
                <action id='prevPage' style='visibility:hidden'>&lt;==</action>
                <b><actionLabel id='currPage'> 1 </actionLabel></b>
                <action id='nextPage'>==&gt;</action>
            </galleryUI>
        </center>
        <br>
        <a href="/wall">browse all</a>
        <br><br>
        new blinkies added weekly!
    </div>
    </center>
    <br><br><br>
    <div class='divider'></div>
</div>
<hr>
<br>
<div class='content'>
<h2>about blinkie gifs</h2><br>
<p>
pretend it's 1999! customize retro blinkie graphics!<br><br>
blinkies are tiny, 150x20-pixel animated gifs used as badges to share interests and tell jokes! they were popular decorations in early-2000s Geocities-era personal websites &amp; Myspace pages.
<br><br>
<b>blinkies.cafe</b> is a blinkie generator you can use to create your own blinkie gifs, choosing from dozens of styles and adding whatever text you like!
<br><br>
blinkies are great for:
</p>
<ul>
<li>badges for your website or blog, to show off your interests!</li>
<li>eye-catching links on your streaming page!</li>
<li>fun, sparkly messages in chat apps!</li>
<li>flashy email &#38; forum signatures!</li>
</ul><br>
<p>
also check out the <a href='https://chrome.google.com/webstore/detail/blinkiescafe/eopblkihdgjjlipjpdjpekabokhlenoo' target='_blank' rel="noopener">blinkies maker chrome extension</a> !!
<br><br>
follow: <a href='https://graphics-cafe.tumblr.com/' target='_blank' rel="noopener">tumblr</a>, <a href='https://neocities.org/site/blinkies' target='_blank' rel="noopener">neocities</a>, <a href='https://www.deviantart.com/blinkies-cafe' target='_blank' rel="noopener">deviantart</a>
<br><br>
email: <a href="mailto:hi@blinkies.cafe" target="_blank" rel="noopener">hi@blinkies.cafe</a>
<br><br>
blinkies.cafe is in active development.<br><br>
enjoy~
<br><br>
    blinkies.cafe is part of the yesterweb ring:
    <div class="yw-widget-text" data-yw-url="https://blinkies.cafe">
        <script src="https://yesterweb.org/js/widget.js"></script>
    </div>
</p>
</div>
<div class='content'>
<h2>what's new</h2><br>
<ul>
    <li>improved heart rendering ❤️</li>
    <li>added option to toggle multi-line splitting.</li>
    <li>improved multi-line splitting algorithm.</li>
    <li>joined yesterweb ring!! &lt;3</li>
    <li>allow longer input text by splitting into two lines.</li>
    <li>added support for 日本語, 中文, and 한국어 characters!</li>
    <li>space background c:</li>
    <li>shareable badge preview</li>
    <li>style select dropdown bugfix</li>
    <li>added copy-pasteable HTML to link us :)</li>
</ul>
</div>
<div class='content'>
<h2>planned features</h2><br>
<ul>
    <li>continue to expand character support.</li>
    <li>add option to select font.</li>
    <li>search blinkies in gallery.</li>
    <li>add an "advanced mode" blinkie generator with more customizability:
        <ul>
            <li>choose any text colour.</li>
            <li>generate simple blinkies with any colours.</li>
            <li>choose dimensions: generate shorter and/or wider gifs.</li>
        </ul>
    </li>
</ul>
</div>
<div class='content'>
    <h2>technical details</h2><br>
    <ul>
        <li>blinkies.cafe is <a href='https://github.com/piconaut/blinkies.cafe' target="_blank" rel="noopener">open-source code</a>.</li>
        <li>we pour fresh blinkies <a href='https://xkcd.com/2347/' target="_blank" rel="noopener">using</a> <a href='https://imagemagick.org' target="_blank" rel="noopener">imagemagick</a>.</li>
        <li>blinkies.cafe is a <a href='https://nodejs.org/en/' target="_blank" rel="noopener">node.js</a> app using the <a href='https://expressjs.com/' target="_blank" rel="noopener">express</a> framework, with <a href='https://ejs.co/' target="_blank" rel="noopener">ejs</a> template engine.</li>
        <li>it's built as a <a href='https://www.docker.com/' target="_blank" rel="noopener">docker image</a> using <a href='https://alpinelinux.org/' target="_blank" rel="noopener">alpine linux</a>.</li>
        <li>it's currently running on a <a href='https://www.debian.org/' target="_blank" rel="noopener">debian</a> virtual machine hosted by <a href='https://www.vultr.com/' target="_blank" rel="noopener">vultr</a>.</li>
        <li>we create &amp; edit blinkies using <a href='https://www.gimp.org/' target="_blank" rel="noopener">gimp</a> and <a href='https://apps.kde.org/kolourpaint/' target="_blank" rel="noopener">kolourpaint</a>. you can probably spot the kolourpaint default palette in a lot of blinkies if you look!</li>
    </ul><br>
    <p>
        blinkies.cafe started development circa 2021. we are proudly<br>
        <img src="/b/display/y2k-compliant.gif" alt="Y2K-compliant blinkie" class="blinkie">
    </p>
</div>
<%- include('components/footer.html') %>
</body>
</html>
<script src='/cafe.js' type='module'></script>
