<!DOCTYPE html>
<html lang="en">
<head>
  <title>blinkie maker | generate blinkie gifs with custom text!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content="make your own blinkies! browse blinkie styles and add any text you want. blinkies are tiny gifs; they're great badges for your site, stream, blog, or messages. blinkies were popular decorations in early-2000s Geocities-era personal websites.">
  <link rel="canonical" href="https://blinkies.cafe/">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div id='banner' class='content'>
blinkies.cafe
</div>
<div id='navbar' class='content'>
        generator | <a href='/blog'>blog</a> | <a href='/archive'>archive</a><br>
</div><hr>
<div class='content'>
    <h1>blinkie maker: build a blinkie!</h1>
</div>
<div class='content'>
    <div class='divider'></div>
    <div id='pour' style='position:absolute; visibility:<%if (pourStyle == '') {%>hidden<%} else {%>visible<%}%>'>
        <action id='backToGalleryBtn'>&#60; back to gallery</action><br><br>
        <form id='blinkieForm'>
            <div>
                text:  &nbsp;<input placeholder='your text here!' name='blinkieText' id='blinkieText' rows=1 wrap='off' type='text' autocomplete="off">&nbsp;<input type="checkbox" id="toggleSplit" name="toggleSplit"><label for="toggleSplit">split</label>(<div class="tooltip">?
                    <span class="tooltiptext">fit more text by splitting into two lines</span>
                </div>)
            </div>
            <div style='margin-top: 1px'>
                style: <select name="blinkieStyle" id="blinkieStyle" cols=20>
                    <%
                    if (pourStyle != '') {
                        %><option value="<%=pourStyle%>"><%=styleList[pourStyle].name%></option><%
                    }

                    for (const [key, value] of Object.entries(styleList)) {
                        if (key != pourStyle) {
                            %><option value="<%=key%>"><%=value.name%></option><%
                        }
                    }
                    %>
                </select>
            </div>
            <div>scale:
                <select name="blinkieScale" id="blinkieScale">
                    <option value=1>1x: small &amp; classic. good in rows &amp; columns. great on desktop.</option>
                    <option value=2>2x: happy medium?</option>
                    <option value=4>4x: large &amp; crisp. good for individual blinkies. mobile-friendly.</option>
                </select>
            </div>
        <button type='submit' id='submitbtn'>generate!!</button>&nbsp;&nbsp;&nbsp;<input type="checkbox" id="hideFeed" name="hideFeed">&nbsp;<label for="hideFeed">don't show in <a href="/feed">feed</a></label><br>
        </form><br>
        <img id='freshBlinkie' src='/b/display/<%if (pourStyle == '') {%>0007-chocolate<%} else {%><%=pourStyle%><%}%>.gif' alt='generated blinkie'><br>
        <div id='blinkieLinkHolder' style='font-size:8pt;'><br><br><br></div>
        <a id='anakinLink' href='https://transbro.tumblr.com/' target='_blank' style='visibility:hidden;'><img src='/b/display/anakin.gif' alt='Blinkie Made by Anakin' style='width:150px;height:22px;'>(x)</a>
        <br><br>
        share our button?<br><textarea readonly id='badgetxt' wrap='off' class='singleLineText' style='margin-bottom:2px'>&lt;a href='https://blinkies.cafe' target='_blank'&gt;&lt;img src='https://blinkies.cafe/b/display/blinkiesCafe-badge.gif' alt='blinkies.cafe | make your own blinkies!'&gt;&lt;/a&gt;</textarea><br>
        <img src='/b/display/blinkiesCafe-badge.gif' alt='blinkies.cafe shareable badge' style='width:88px;height:31px'>
        <br><br><a href='https://www3.cbox.ws/box/?boxid=3515648&boxtag=MLcPYu' target="_blank" rel="noopener">guestbook/chat</a>
    </div>
    <center>
    <div id='gallery' type='text' style='position:relative; z-index:0; visibility:<%if (pourStyle == '') {%><%} else {%>hidden<%}%>'>
        click a blinkie to add custom text!<br><br>
        <galleryUI>
            sort:&nbsp;<action id='sortNew'>new</action> <action id='sortRandom'>random</action> <action id='sortOld'>old</action><br>
            tags:&nbsp;<select id='selectTags' style='width:100px;margin-top:8px;'>
                <option value='all'>all</option>
                <option value='fav'>my faves</option>
                <option value='idk'>┐(シ)┌</option>
                <option value='plain'>plain</option>
                <option value='fandom'>fandom</option>
                <option value='love'>love</option>
                <option value='lgbtq'>lgbtq</option>
                <option value='mogai'>mogai</option>
                <option value='computer'>computer</option>
                <option value='pink'>pink</option>
                <option value='nature'>nature</option>
                <option value='smiley'>smileys</option>
                <option value='food'>food/drink</option>
                <option value='paranormal'>paranormal</option>
                <option value='rainbow'>rainbow</option>
                <option value='zodiac'>zodiac</option>
            </select>
        </galleryUI><br><br>
        <center id='tiles'>
            <%
            let i=0;
            for (const [key, value] of Object.entries(stylePage)) {
                %><img id='blinkie<%=i%>' src="/b/display/<%=key%>.gif" alt="<%=value.name%> blinkie" class="blinkie blinkieTile"><%
    	    i++;
            }
            %>
        </center>
        <center>
            <galleryUI id='pagenav'>
                <action id='prevPage' style='visibility:hidden'>&lt;==</action>
                <b><actionLabel id='currPage'> 1 </actionLabel></b>
                <action id='nextPage'>==&gt;</action>
            </galleryUI>
        </center>
        <br>
        <a href="/wall">browse all</a>&nbsp;|&nbsp;<a href="/feed">recently generated</a>
        <br><br>
        new blinkies every Saturday at 12:00 pm EST!
        <br><br>
    </div>
    </center>
    <div class='divider'></div>
</div>
<hr>
<br>
<div class='content'>
<h2>about blinkie gifs</h2><br>
<p>
pretend it's 1999! customize retro blinkie graphics!<br><br>
blinkies are tiny, 150x20-pixel animated gifs used as badges to share interests and tell jokes! they were popular decorations in early-2000s Geocities-era personal websites &amp; Myspace pages.
<br><br>
<b>blinkies.cafe</b> is a blinkie generator you can use to create your own blinkie gifs, choosing from dozens of styles and adding whatever text you like!
<br><br>
blinkies are great for:
</p>
<ul>
<li>badges for your website or blog, to show off your interests!</li>
<li>eye-catching links on your streaming page!</li>
<li>fun, sparkly messages in chat apps!</li>
<li>flashy email &#38; forum signatures!</li>
</ul><br>
<p>
blinkies.cafe is in active development.<br><br>
enjoy~
</p>
</div>
<div class='content'>
    <h2>our links</h2><br>
    <b>staff:</b><br><br>
    &nbsp;&nbsp;<b>Amy (admin/dev):</b> <a href='https://graphics-cafe.tumblr.com/'>tumblr</a>, <a href='https://twitter.com/amyoeba'>twitter</a>, <a href='https://neocities.org/site/blinkies'>neocities</a>, <a href='https://www.deviantart.com/blinkies-cafe'>deviantart</a><br><br>
    &nbsp;&nbsp;<b>Anakin (artist):</b>  <a href='https://transbro.tumblr.com/'>tumblr</a><br>
    &nbsp;&nbsp;<a href='https://transbro.tumblr.com/'><img src='/b/display/anakin.gif' alt='Blinkie Made by Anakin' style='width:150px;height:22px;'></a><br><br>
    email:&nbsp;&nbsp;&nbsp;<a href="mailto:hi@blinkies.cafe">hi@blinkies.cafe</a><br>
    tips:&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://ko-fi.com/blinkies">ko-fi</a><br><br>
    also check out our <a href='https://chrome.google.com/webstore/detail/blinkiescafe/eopblkihdgjjlipjpdjpekabokhlenoo'>chrome extension</a> !!
    <br><br>
    blinkies.cafe is a member of the yesterweb ring:<br>
    <a href="https://webring.yesterweb.org/noJS/index.php?d=rand&url=https://blinkies.cafe/">???</a>&nbsp;//
    <a href="https://webring.yesterweb.org/noJS/index.php?d=prev&url=https://blinkies.cafe/">&lt;&lt;</a>&nbsp;
    <a href="https://yesterweb.org/webring/">Yesterweb</a>&nbsp;
    <a href="https://webring.yesterweb.org/noJS/index.php?d=next&url=https://blinkies.cafe/">&gt;&gt;</a>&nbsp;//
    <a href="https://yesterweb.org/webring/members.html">..</a>
</div>
<div class='content'>
<h2>what's new</h2><br>
<ul>
    <li>vary framerate slightly to avoid .mp4 conversion on tumblr</li>
    <li>added a <a href='/feed'>feed</a> of recent user-created blinkies!</li>
    <li>added "smileys" tag!</li>
    <li>text outline for readability on high-contrast backgrounds!</li>
    <li>submit from keyboard on mobile</li>
    <li>played with homepage!</li>
    <li>wrote a <a href='/blog/2022-05-14-how-to-make-blinkies'>blinkie making tutorial</a>!</li>
    <li>added tag/filter system!</li>
    <li>improved heart rendering ❤️</li>
    <li>added option to toggle multi-line splitting.</li>
    <li>improved multi-line splitting algorithm.</li>
</ul>
</div>
<div class='content'>
<h2>planned features</h2><br>
<ul>
    <li>click blinkie in feed to generate with that style.</li>
    <li>continue to expand character support.</li>
    <li>search blinkies in gallery.</li>
</ul>
</div>
<div class='content'>
    <h2>technical details</h2><br>
    <ul>
        <li>blinkies.cafe is <a href='https://github.com/piconaut/blinkies.cafe' target="_blank" rel="noopener">open-source code</a>.</li>
        <li>we pour fresh blinkies <a href='https://xkcd.com/2347/' target="_blank" rel="noopener">using</a> <a href='https://imagemagick.org' target="_blank" rel="noopener">imagemagick</a>.</li>
        <li>blinkies.cafe is a <a href='https://nodejs.org/en/' target="_blank" rel="noopener">node.js</a> app using the <a href='https://expressjs.com/' target="_blank" rel="noopener">express</a> framework, with <a href='https://ejs.co/' target="_blank" rel="noopener">ejs</a> template engine.</li>
        <li>it's built as a <a href='https://www.docker.com/' target="_blank" rel="noopener">docker image</a> using <a href='https://alpinelinux.org/' target="_blank" rel="noopener">alpine linux</a>.</li>
        <li>it's currently running on a <a href='https://www.debian.org/' target="_blank" rel="noopener">debian</a> virtual machine hosted by <a href='https://www.vultr.com/' target="_blank" rel="noopener">vultr</a>.</li>
        <li>we create &amp; edit blinkies using <a href='https://www.gimp.org/' target="_blank" rel="noopener">gimp</a> and <a href='https://apps.kde.org/kolourpaint/' target="_blank" rel="noopener">kolourpaint</a>. you can probably spot the kolourpaint default palette in a lot of blinkies if you look!</li>
    </ul><br>
    <p>
        blinkies.cafe started development circa 2021. we are proudly<br>
        <img src="/b/display/y2k-compliant.gif" alt="Y2K-compliant blinkie" class="blinkie">
    </p>
</div>
<%- include('components/footer.html') %>
</body>
</html>
<script src='/cafe.js' type='module'></script>
