<!DOCTYPE html>
<html lang="en">
<head>
  <title>blinkies maker | generate blinkie gifs with custom text!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content="make your own blinkies! browse blinkie styles and add any text you want. blinkies are tiny gifs; they're great badges for your site, stream, blog, or messages. blinkies were popular decorations in early-2000s Geocities-era personal websites.">
  <link rel="canonical" href="https://blinkies.cafe/">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div id='banner' class='content'>
blinkies.cafe
</div>
<div id='navbar' class='content'>
        gallery | <a href='/archive'>archive</a><br>
</div><hr>
<div class='content'>
    <h1>blinkie maker: build a blinkie!</h1>
</div>
<div id='gallery' class='content'>
    click to add custom text to any of these blinkie styles!<br><br>
    <galleryUI>
        sort:&nbsp;<action id='sortNew'>new</action> <action id='sortRandom'>random</action>
    </galleryUI>
    <center id='tiles'>
        <%
        let i=0;
        for (const [key, value] of Object.entries(styleList)) {
            %><a id='blinkieLink<%=i%>' href="/pour?s=<%=key%>"><img id='blinkie<%=i%>' src="/b/display/<%=key%>.gif" alt="<%=value.name%> blinkie" class="blinkie"></a><%
	    i++;
        }
        %>
    </center>
    <center>
        <galleryUI id='pagenav'>
            <action id='prevPage' style='visibility:hidden'>&lt;</action>
            <actionLabel id='currPage'> 1 </actionLabel>
            <action id='nextPage' style='visibility:hidden'>&gt;</action>
        </galleryUI>
    </center>
    <br>
    new blinkies added weekly!
</div>
<hr>
<br>
<div class='content'>
<h2>about blinkie gifs</h2><br>
<p>
pretend it's 1999! customize retro blinkie graphics!<br><br>
blinkies are tiny, 150x20-pixel animated gifs used as badges to share interests and tell jokes! they were popular decorations in early-2000s Geocities-era personal websites.
<br><br>
<b>blinkies.cafe</b> is a blinkie generator you can use to make your own blinkie gifs, choosing from a variety of styles and adding whatever text you like!
<br><br>
blinkies are great for:
</p>
<ul>
<li>badges for your website or blog, to show off your interests!</li>
<li>eye-catching links on your streaming page!</li>
<li>fun, sparkly messages in chat apps!</li>
<li>flashy email &#38; forum signatures!</li>
</ul><br>
<p>
also check out the <a href='https://chrome.google.com/webstore/detail/blinkiescafe/eopblkihdgjjlipjpdjpekabokhlenoo' target='_blank' rel="noopener">blinkies maker chrome extension</a> !!
<br><br>
blinkies.cafe is in active development.<br><br>
enjoy~
</p>
</div>
<div class='content'>
<h2>what's new</h2><br>
<ul>
    <li>added sort and shuffle features to gallery</li>
    <li>added pages to gallery</li>
    <li>added "Starry Eyes!" blinkie!</li>
    <li>added "download blinkie" button</li>
    <li>added gallery view to chrome extension</li>
    <li>added "good kisser" blinkie!</li>
    <li>added "frog friend" blinkie!</li>
    <li>created archive page with archived copies of gifs from the web, and links to their original sources.</li>
    <li>added "mushroom boy" blinkie!</li>
    <li>changed homepage to a gallery view of all the blinkie styles.</li>
</ul>
</div>
<div class='content'>
<h2>planned features</h2><br>
<ul>
    <li>search blinkies in gallery.</li>
    <li>add a "scale" option to the blinkie generator, to output 2x, 4x, and 8x scale gifs.
        <ul>
            <li>this will solve resolution-related problems including antialiasing and minimum pixel requirements in chat apps. <strike><i>(Big Tech doesn't understand the joy of 150x20px)</i></strike></li>
        </ul>
    </li>
    <li>add an "advanced mode" blinkie generator with more customizability:
        <ul>
            <li>choose any text colour.</li>
            <li>generate simple blinkies with any colours.</li>
            <li>choose dimensions: generate shorter and/or wider gifs.</li>
        </ul>
    </li>
    <li>develop a blinkies twitter bot that posts blinkies hourly. the blinkies could have random styles &#x26; text, and/or use style-based wordlists.</li>
    <li>generate blinkies with 3-frame (&#x26; longer) animations.</li>
    <li>publish blinkie generator bash scripts.</li>
</ul>
</div>
<div class='content'>
<h2>technical details</h2><br>
<p>we pour fresh blinkies <a href='https://xkcd.com/2347/' target="_blank" rel="noopener">using</a> <a href='https://imagemagick.org' target="_blank" rel="noopener">imagemagick</a>. our api &#38; web app is built using <a href='https://nodejs.org/en/' target="_blank" rel="noopener">node.js</a> and <a href='https://expressjs.com/' target="_blank" rel="noopener">express</a>, with <a href='https://ejs.co/' target="_blank" rel="noopener">ejs</a> template engine.
    it's built as a <a href='https://www.docker.com/' target="_blank" rel="noopener">docker image</a> using <a href='https://alpinelinux.org/' target="_blank" rel="noopener">alpine linux</a>.<br><br>
    blinkies.cafe started development circa 2021. we are proudly<br>
    <img src="/b/display/y2k-compliant.gif" alt="Y2K-compliant blinkie" class="blinkie">
</p>

</div>
<%- include('components/footer.html') %>
</body>
</html>
<script src='/gallery.js' type='module'></script>
