<%- include('components/head.ejs', {
    path: "halloween", 
    title: "halloween blinkies!!", 
    description: "spooky scary blinkies for all your festive halloween needs.",
    noheader: true,
    stylesheet: "/event/halloween2022.css"
})%>
    <%
    if (defaultStyleKey == '') {
    %>
        <div id='banner' class='content'>
        treats for u!
        </div>
        <div class='content'>
            customizable halloween blinkies!! click a blinkie to make your own :)
        </div>
        <div class='content'>
            <center id="tiles">
                <a rel="nofollow" href="/halloween?s=0211-ghostorange"><img src="/b/display/0211-ghostorange.gif" alt="BOO!!! hehe ghost blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="/halloween?s=0195-raven"><img src="/b/display/0195-raven.gif" alt="Edgar Allan's Foe crow raven blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="/halloween?s=0188-knifechainsaw"><img src="/b/display/0188-knifechainsaw.gif" alt="I <3 VIOLENCE knife chainsaw blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="/halloween?s=0182-halloweencathouse"><img src="/b/display/0182-halloweencathouse.gif" alt="Happy Halloween black cat haunted house blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="/halloween?s=0167-saw"><img src="/b/display/0167-saw.gif" alt="GAS GAS GAS SAW movie blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="/halloween?s=0165-jennifersbody"><img src="/b/display/0165-jennifersbody.gif" alt="I am a god Jennifers Body blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="/halloween?s=0164-bloodylips"><img src="/b/display/0164-bloodylips.gif" alt="Hell is a teen girl bloody lips blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="/halloween?s=0003-ghost"><img src="/b/display/0003-ghost.gif" alt="Spooky vibes only!! ghost blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="/halloween?s=0021-vampirefangs"><img src="/b/display/0021-vampirefangs.gif" alt="Blood-Sucker vampire fangs blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="/halloween?s=0210-werewolfmoonhowl"><img src="/b/display/0210-werewolfmoonhowl.gif" alt="Awoooooooooooo werewolf blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="/halloween?s=0125-blood"><img src="/b/display/0125-blood.gif" alt="thirsty? blood blinkie" loading="lazy" class="blinkie blinkieTile"></a><a rel="nofollow" href="/halloween?s=0126-slime"><img src="/b/display/0126-slime.gif" alt="slime girl blinkie" loading="lazy" class="blinkie blinkieTile"></a>
            </center>
        </div>
        <div class='content'>
            &lt;3 <a href='/' target='_blank'>blinkies.cafe</a><br><br>
            <a href="https://yesterweb.org/trickortreat2022"><img src="event/halloween2022/yesterweb2022tot.gif"></a>
        </div>
    <%
    }
    else {
    %>
        <div id='banner' class='content'>
        blinkies.cafe
        </div>
        <!--<div id='navbar' class='content'>
                <a href='/'>generator</a> | <a href='/blog'>blog</a> | <a href='/archive'>archive</a><br>
        </div><hr>-->
        <div class='content'>
        </div>
        <div id='blinkieGenHolder' class='content'>
        <form id='blinkieForm'>
        <a href='/halloween'>&#60; back to hALOWEEN</a><br><br>
        text:  &nbsp;<input placeholder='your text here!' name='blinkieText' id='blinkieText' rows=1 wrap='off'></input><br>
        <div style='margin-top: 1px;'>
            font:&nbsp; <select name="blinkieFont" id="blinkieFont" cols=20>
                <option value="auto">auto ♡字</option><%

                for (const [key, value] of Object.entries(fonts)) {
                    %><option value="<%=key%>"><%=key%> <%if (value.symbols) {%>♡<%} if (value.charsets) {%>字<%}%></option><%
                }
                %>
            </select>(<div class="tooltip">?
                <span class="tooltiptext" style="width:150px;">♡: supports symbols<br>字: expanded charsets</span>
            </div>)
        </div>
        <div style='margin-top: 3px;display:none;'>style: <select class='blinkieOptions' name="blinkieStyle" id="blinkieStyle">
            <option value="<%=defaultStyleKey%>"><%=defaultStyleKey%></option>
        </select>
        </div>
        <div>scale:
            <select class='blinkieOptions' name="blinkieScale" id="blinkieScale">
                <option value=1>1x - for websites</option>
                <option value=2>2x - medium</option>
                <option value=4>4x - for chat apps</option>
            </select>
        </div>
        <button type='submit' id='submitbtn'>generate!!</button>
        </form><br>
        <img id='freshBlinkie' src='/b/display/<%=defaultStyleKey%>.gif' alt='generated blinkie'><br>
        <small id='blinkieLinkHolder'><br><br><br></small>
        </div>
    <%
    }
    %>
<%
if (defaultStyleKey != '') {
%>
    <script src='/pour.js' type='module'></script>
<%
}
%>
</body>
</html>
