<!DOCTYPE html>
<style>
body {
  background-color:#b28ce6;
  line-height: 1.15;
  font-size: 10pt;
  font-family: "Consolas", "Hack", "Liberation Mono", monospace;
}
button, option, select {
  font-family: "Consolas", "Hack", "Liberation Mono", monospace;
}
hr {
    width:325px;
}
h1 {
    text-align: center;
    margin: 0px;
    font-size: 12pt;
}
.content {
    background-color:#c9b3e6;
    margin: 18px auto 0px auto;
    padding: 4px;
    text-align:left;
    width:95%;
    max-width: 500px;
}
#blinkieLinkHolder, #footer{
  font-size: 8pt;
}
#blinkieLinkHolder {
    margin:0px;
}
#blinkieStyle {
    width:210px;
}
#blinkieText {
    width:200px;
    overflow:hidden;
    resize:none;
    margin-bottom: -6px;
    padding-left:4px;
    padding-top:1px;
    padding-bottom:1px;
    padding-right:4px;
}
#navbar, #title {
    width:240px;
    text-align: center;
    font-weight: bold;
}
#navbar {
    font-size:12pt;
    margin-top:6px;
}
#submitbtn {
    font-size:10pt;
    margin-top: 4px;
    height:22px;
    padding-top:0px;
    padding-bottom:0px;
}
#title {
  margin-top:18px;
  font-size: 16pt;
}
</style>
<html lang="en">
<head>
  <title>blinkies maker | generate <%=styleList[defaultStyleKey].name%> blinkies!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='generate custom blinkie gifs!'>
  <link rel="canonical" href="https://blinkies.cafe/pour?s=<%=defaultStyleKey%>">
</head>
<body>
<div id='title' class='content'>
blinkies.cafe
</div>
<div id='navbar' class='content'>
        <a href='/'>gallery</a> | <a href='/about'>about</a><br>
</div><hr>
<div class='content'>
<h1><%=styleList[defaultStyleKey].name%> blinkies generator</h1>
</div>
<div id='blinkieGenHolder' class='content'>
<form id='blinkieForm'>
text:  &nbsp;<textarea placeholder='your text here!' name='blinkieText' id='blinkieText' rows=1 wrap='off'></textarea><br>
<div style='margin-top: 6px;'>style: <select name="blinkieStyle" id="blinkieStyle">
    <option value="<%=defaultStyleKey%>"><%=styleList[defaultStyleKey].name%></option>
    <%
    for (const [key, value] of Object.entries(styleList)) {
        if (key != defaultStyleKey) {
            %><option value="<%=key%>"><%=value.name%></option><%
        }
    }
    %>
</select>
</div>
<button type='submit' id='submitbtn'>generate!!</button>
</form><br>
<img id='blinkieGIF' src='/b/display/<%=styleList[defaultStyleKey].id%>.gif' alt='generated blinkie'><br>
<p id='blinkieLinkHolder'><br><br></p>
</div>
<div id='footer' class='content'>
    <a href='/sources'>gif & font sources</a>.<br>(c) blinkies.cafe.<br>blinkies are CC0.<br>by amy fare &#60;3
</div>
</body>
</html>
<script src='/pour.js' type='module'></script>
