<%- include('components/head.ejs', {
    path: "pour", 
    title: `blinkie maker | generate ${styleList[defaultStyleKey].name} blinkies!`, 
    description: `blinkies maker - generate ${styleList[defaultStyleKey].name} blinkies with any text you want!`
})%>
<div class='content'>
<h1><%=styleList[defaultStyleKey].name%> blinkies generator</h1>
</div>
<div id='blinkieGenHolder' class='content'>
<form id='blinkieForm'>
<a href='/'>&#60; back to gallery</a><br><br>
text:  &nbsp;<input placeholder='your text here!' name='blinkieText' id='blinkieText' rows=1 wrap='off'></input><br>
<div style='margin-top: 1px;'>
    font:&nbsp; <select name="blinkieFont" id="blinkieFont" cols=20>
        <option value="auto">auto ♡字</option><%

        for (const [key, value] of Object.entries(fonts)) {
            %><option value="<%=key%>"><%=key%> <%if (value.symbols) {%>♡<%} if (value.charsets) {%>字<%}%></option><%
        }
        %>
    </select>(<div class="tooltip">?
        <span class="tooltiptext" style="width:150px;">♡: supports symbols<br>字: expanded charsets</span>
    </div>)
</div>
<div style='margin-top: 3px;display:none;'>style: <select class='blinkieOptions' name="blinkieStyle" id="blinkieStyle">
    <option value="<%=defaultStyleKey%>"><%=defaultStyleKey%></option>
</select>
</div>
<div>scale:
    <select class='blinkieOptions' name="blinkieScale" id="blinkieScale">
        <option value=1>1x - for websites</option>
        <option value=2>2x - medium</option>
        <option value=4>4x - for chat apps</option>
    </select>
</div>
<button type='submit' id='submitbtn'>generate!!</button>
</form><br>
<img id='freshBlinkie' src='/b/display/<%=defaultStyleKey%>.gif' alt='generated blinkie'><br>
<small id='blinkieLinkHolder'><br><br><br></small>
</div>
<script src='/pour.js' type='module'></script>
<%- include('components/footer.html') %>
