<!DOCTYPE html>
<html lang="en">
<head>
  <title>blinkies maker | generate <%=styleList[defaultStyleKey].name%> blinkies!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='blinkies maker - generate <%=styleList[defaultStyleKey].name%> blinkies with any text you want!'>
  <link rel="canonical" href="https://blinkies.cafe/pour">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div id='banner' class='content'>
blinkies.cafe
</div>
<div id='navbar' class='content'>
        <a href='/'>gallery</a> | <a href='/archive'>archive</a><br>
</div><hr>
<div class='content'>
<h1><%=styleList[defaultStyleKey].name%> blinkies generator</h1>
</div>
<div id='blinkieGenHolder' class='content'>
<form id='blinkieForm'>
<a href='/'>&#60; back to gallery</a><br><br>
text:  &nbsp;<textarea placeholder='your text here!' name='blinkieText' id='blinkieText' rows=1 wrap='off'></textarea><br>
<div style='margin-top: 6px;'>style: <select name="blinkieStyle" id="blinkieStyle">
    <option value="<%=defaultStyleKey%>"><%=styleList[defaultStyleKey].name%></option>
    <%
    for (const [key, value] of Object.entries(styleList)) {
        if (key != defaultStyleKey) {
            %><option value="<%=key%>"><%=value.name%></option><%
        }
    }
    %>
</select>
</div>
<button type='submit' id='submitbtn'>generate!!</button>
</form><br>
<img id='freshBlinkie' src='/b/display/<%=defaultStyleKey%>.gif' alt='generated blinkie'><br>
<small id='blinkieLinkHolder'><br><br></small>
</div>
<div id='footer' class='content smalltext'>
    (c) blinkies.cafe.<br>original blinkies CC0.<br>by amy fare &#60;3
</div>
</body>
</html>
<script src='/pour.js' type='module'></script>
