<!DOCTYPE html>
<style>
body {
    font-family: "Consolas", "Hack", "Liberation Mono", monospace;
    background-color:#b28ce6;
    line-height: 1.15;
    font-size: 10pt;
    overflow-y: scroll;                          /* show vertical scrollbar */
}
p,ul {
    margin:0px;
}
hr {
    width:325px;
}
h1 {
    text-align: center;
    margin: 0px;
    font-size: 12pt;
}
.content {
    background-color:#c9b3e6;
    margin: 18px auto 0px auto;
    padding: 4px;
    text-align:left;
    width:95%;
    max-width: 640px;
}
#banner, #navbar {
    width:240px;
    text-align:center;
    font-weight:bold
}
#banner {
  margin-top:18px;
  font-size: 16pt;
}
#footer {
  font-size: 8pt;
}
#navbar {
    font-size:12pt;
    margin-top:6px;
}
</style>
<html lang="en">
<head>
  <title>blinkies maker | sources</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='description' content='blinkies maker - gif and font sources'>
  <link rel="canonical" href="https://blinkies.cafe/sources">
</head>
<body>
<div id='banner' class='content'>
blinkies.cafe
</div>
<div id='navbar' class='content'>
        <a href='/'>gallery</a> | archive<br>
</div><hr>
<div class='content'><h1>blinkie sources</h1>
</div>
<div id='sourceList' class='content'>
gif sources<br>
===========<br><br>
some blinkies are original (i made them from scratch). some are existing gifs that i've programmed customizability for. in that case usually the original author is unknown, so i link where i found the gif.
<br><br>
blinkie&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;source<br>
-------&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------
<%
for (const [key, value] of Object.entries(sourceList)) {
    var blank = 22 - value.name.length;
    var sourceLine = value.name + "&nbsp;".repeat(blank);
    %><p><%-sourceLine %><%
    if (value.sourceURL) {
        %><a href="<%=value.sourceURL%>" target="_blank" rel="noopener"><%=value.sourceName%></a><%
    }
    else {
        %><%=value.sourceName%><%
    }
}
%>
</div>
<div id='fontList' class='content'>
font sources<br>
============<br><br>
font&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;creator<br>
----&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-------
<%
for (const [key, value] of Object.entries(fontList)) {
    var blank = 22 - value.name.length;
    var sourceLine = value.name + "&nbsp;".repeat(blank);
    %><p><%-sourceLine %><%
    if (value.sourceURL) {
        %><a href="<%=value.sourceURL%>" target="_blank" rel="noopener"><%=value.sourceName%></a><%
    }
    else {
        %><%=value.sourceName%><%
    }
}
%>
</div>
<div id='footer' class='content'>
    (c) blinkies.cafe.<br>original blinkies CC0.<br>by amy fare &#60;3
</div>
</body>
</html>
