<!DOCTYPE html>
<html lang="en">
<head>
  <title>blinkie template submitters</title>
  <meta name='description' content="blinkie template credits -- all the blinkies.cafe customizable blinkies, sorted by submitter.">
  <link rel="canonical" href="https://blinkies.cafe/submitters">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <meta name="theme-color" content="#4e3075">
</head>
<body>
    <div id='banner' class='content'>
    blinkies.cafe
    </div>
    <div id='navbar' class='content'>
        <a href='/'>generator</a> | <a href='/blog'>blog</a> | <a href='/archive'>archive</a><br>
    </div><hr>
<div class='content'>
    <h1>blinkie template submitters</h1>
</div>
<div class='content'>
    <div id='gallery' type='text' style='position:relative; z-index:0; visibility:'>
        <a href="/">&#60; back to gallery</a><br><br>
        all the customizable blinkie templates, sorted by submitter!<br><br>
        huge thank you to all blinkies.cafe community members who've contributed!! :D<br><br>

        click a blinkie to customize c:<br><br>
        <center id='tiles'>
<%
            const blinkieExt = freeze ? 'png' : 'gif'
            for (const [subID, subData] of Object.entries(submitters)) {
%>
                <h2 id="<%-subID%>"><a href="<%=subData.subURL%>"><%-subData.subName%></a></h2><br>
                    
<%              
                for (const key of subData.templates) {
                    %><a rel="nofollow" href="https://blinkies.cafe/?s=<%=key%>"><img src="/b/display/<%=key%>.<%=blinkieExt%>" alt="<%=key%> blinkie" loading="lazy" class="blinkie blinkieTile"></a><%
                }
%>
                <br><br><hr><br><br>
<%        
            }   
%>
        </center>
    </div>
</div>
<%- include('components/footer.html') %>
</body>
</html>
