<!DOCTYPE html>
<html lang="en">
<head>
  <title>the blinkie wall</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <meta name="theme-color" content="#4e3075">
</head>
<body>
    <div id='banner' class='content'>
    blinkies.cafe
    </div>
    <div id='navbar' class='content'>
        <a href='/'>generator</a> | <a href='/blog'>blog</a> | <a href='/archive'>archive</a><br>
    </div><hr>
<div class='content'>
    <h1>the blinkie wall</h1>
</div>
<div class='content'>
    <center>
    <div id='gallery' type='text' style='position:relative; z-index:0; visibility:'>
        <action id='backToGalleryBtn'>&#60; back to gallery</action><br><br>
        search templates: <input type="text" id="search" style="width:225px;" placeholder="name, tags, or default text" value="<%=query%>"><br>
        click a blinkie to customize c:<br>
        <center id='tiles'>
            <%
            const blinkieExt = freeze ? 'png' : 'gif';
            let searchText = '';
            for (const [key, value] of Object.entries(styleList)) {
                searchText = key + ' ' + value.name + ' ' + value.tags.join(' ');
                %><a rel="nofollow" href="https://blinkies.cafe/?s=<%=key%>" id="<%=searchText%>" style="display:none;"><img src="/b/display/<%=key%>.<%=blinkieExt%>" alt="<%=value.name%> blinkie" loading="lazy" class="blinkie blinkieTile"></a><%
            }
            %>
        </center>
    </div>
    </center>
</div>
<%- include('components/footer.html') %>
<script src='/wall.js' type='module'></script>
</body>
</html>
